* {
    -fx-font-family: calibri;
}

Pane {
    -fx-background-color: #FFF;
}

.btn {
    -fx-background-color: transparent;
    -fx-background-image: url(../images/wood.jpg);
    -fx-text-fill: #ccc;
    -fx-font-weight: bold;
    -fx-font-size: 2em;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
    position: relative;
}

.btn:hover {
    -fx-cursor: hand;
    -fx-text-fill: rgb(156, 122, 88);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.playButton:hover {
    -fx-cursor: hand;
}

.label-error {
    -fx-text-fill: salmon;
}

.btn-space {
    -fx-padding: 15;
}

.btn-block {
    -fx-pref-width: 150;
    -fx-pref-height: 100;
}

.btn-retry {
    -fx-background-image: url(../images/wood.jpg), url(../images/retry.png);
    -fx-background-repeat: repeat, no-repeat;
    -fx-background-position: center center;
    -fx-pref-width: 75;
    -fx-pref-height: 75;
}

.overlay {
    -fx-background-color: transparent;
    -fx-background-image: url(../images/bord/overlay.png);
}
    
.M { // Muur
    -fx-background-image: url(../images/bord/M.png); 
}

.V { // Kist voltooid
    -fx-background-image: url(../images/bord/V.png); 
}

.J { // Mannetje met doel
    -fx-background-image: url(../images/bord/J.png); 
}

.D { // Doel
    -fx-background-image: url(../images/bord/D.png); 
}

.K { // Kist
    -fx-background-image: url(../images/bord/K.png); 
}

.Y { // Mannetje
    -fx-background-image: url(../images/bord/Y.png); 
}

._ { // Leeg
    -fx-background-image: url(../images/bord/_.png); 
}

.win {
    -fx-background-image: url(../images/bord/WIN.png);
}

.up-arrow, .left-arrow, .down-arrow, .right-arrow {
    -fx-background-repeat: repeat, no-repeat;
    -fx-background-position: center center;
    -fx-pref-width: 50;
    -fx-pref-height: 50;
}

.up-arrow {
    -fx-background-image: url(../images/wood.jpg), url(../images/up-arrow.png);
}

.left-arrow {
    -fx-background-image: url(../images/wood.jpg), url(../images/left-arrow.png);
}

.down-arrow {
    -fx-background-image: url(../images/wood.jpg), url(../images/down-arrow.png);
}

.right-arrow {
    -fx-background-image: url(../images/wood.jpg), url(../images/right-arrow.png);
}

.back {
    -fx-background-image: url(../images/wood.jpg), url(../images/back.png);
    -fx-background-repeat: repeat, no-repeat;
    -fx-background-position: center center;
}